*.dtbcache
DemoMicroservice/.vs/
DemoMicroservice/bin/
DemoMicroservice/DemoService.Core/bin/
DemoMicroservice/DemoService.Core/obj/
DemoMicroservice/DemoService.Microservice/bin/
DemoMicroservice/DemoService.Microservice/obj/
DemoMicroservice/DemoService.SQL/bin/
DemoMicroservice/DemoService.SQL/obj/
DemoMicroservice/obj/
DemoMicroservice/DemoService.Client.NetCore/obj/
DemoMicroservice/DemoService.Client.NetCore/bin/
DemoMicroservice/DemoService.IntegrationTests/bin/
DemoMicroservice/DemoService.IntegrationTests/obj/
